@charset "UTF-8";

.wrap {
  padding-top: 20px;
}
#timer {
  min-height: 60px;
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
}
.button_wrap {
  margin-top: 30px;
  text-align: center;
}
.button_wrap button {
  width: 80px;
  border: 0px;
  border-radius: 20px;
  line-height: 30px;
  cursor: pointer;
}
.button_reset {
  background-color: #ddd;
}
.button_play {
  background-color: #2BAE66;
  color: #fff;
}
.button_play.stop {
  background-color: #990011;
}
#record-list {
  max-width: 300px;
  min-height: 100px;
  margin: 30px auto 0;
  padding: 30px;
  background-color: #fff7f7;
  border-radius: 10px;
}
#record-list li + li {
  margin-top: 10px;
}
#record-list li {
  list-style: none;
}
#record-list .button_remove {
  padding: 4px 10px 2px;
  margin-right: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #222;
  vertical-align: middle;
  cursor: pointer;
}
#record-list .times {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.5px;
  vertical-align: middle;
}
#record-list li:hover {
  opacity: 0.7;
}